<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <title>Cadastro de Musica</title>
</head>
<body>
    <form method="post" action="/adicionar">
        <label>Nome da Musica:</label>
        <input type="text" name="txtNome">
        
        <label>Artista:</label>
        <input type="text" name="txtArtista">

        <label>Genero:</label>
        <input type="text" name="txtGenero">

        <button type="submit">Cadastrar</button>
        
        
    </form>
</body>
</html>